version: '3.9'

services:
  redis:
    image: redis
    ports:
      - "6379:6379"
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB_NAME}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - D:/Python/goit-python/Python_10/Web_Final_project/postgres-data:/var/lib/postgresql/data